.header-container{
  background-color: #0000A3;
  width: 1920px;
  height: 130px;
}

.logo-fitshop{
  width: 150px;
  height: 150px;
  position: relative;
  margin-left: 20px;
  right: 20px;
  bottom: 15px;
}



